<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootActuatorApplicationTests" type="JUnit" factoryName="JUnit" nameIsGenerated="true">
    <module name="spring-boot-actuator" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.github.mrzhqiang.springbootactuator.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <option name="PACKAGE_NAME" value="com.github.mrzhqiang.springbootactuator" />
    <option name="MAIN_CLASS_NAME" value="com.github.mrzhqiang.springbootactuator.SpringBootActuatorApplicationTests" />
    <option name="METHOD_NAME" value="" />
    <option name="TEST_OBJECT" value="class" />
    <option name="PARAMETERS" value="" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>