<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootIntegrationApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-integration" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.github.mrzhqiang.springbootintegration.SpringBootIntegrationApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>