<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootBasicsApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-basics" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.github.mrzhqiang.springbootbasics.SpringBootBasicsApplication" />
    <option name="DEBUG_MODE" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>