<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringCloudConfigApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="config" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.github.mrzhqiang.springcloudconfig.SpringCloudConfigApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>