<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootDataApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-data" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.github.mrzhqiang.springbootdata.SpringBootDataApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>