<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootSecurityApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-security" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.github.mrzhqiang.springbootsecurity.SpringBootSecurityApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>